@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

nav{
    background-color: #007FBF;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav input{
    background-color: #154D69;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: 0;
    border-radius: 0.5rem;
}

nav input:focus{
    outline: none;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding: 0 2rem;
}

li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    background-color: #f6f6f6;
    border-radius: 1rem;
    padding: 1rem;
    color: #2a2a2a;

}

/* .content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    padding: 0 1rem;
    width: 100%;
} */

.mark{
    border: solid 1px #2a2a2a;
    border-radius: 1000%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #f6f6f6;
}

.mark:hover{
    cursor: pointer;
}

.mark div{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
}

.done li{
    text-decoration: line-through;
    color: #808080;
}

.done li button div{
    background-color: #007FBF;
}

.add-task{
    background-color: #007FBF;
    padding: 0.5rem;
    border-radius: 100%;
    border: 0;
    height: 3rem;
    width: 3rem;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    cursor: pointer;
}

.add-task img{
    height: 1.5rem;
    width: 1.5rem;
}